includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:
    level: 9

    paths:
        - src
    stubFiles:
        - stubs/global.stub

    ignoreErrors:
        - "#Cannot access offset 'config' on [a-zA-Z0-9_]+#"
